<!DOCTYPE html>
<html>
<head>
	<title>Page Not Found!</title>
	<style>
		body {
			background-color: #ff9900;
			color: #fff;
			font-family: 'Arial';
			text-align: center;
			font-size: 2em;
			padding-top: 20px;
		}
		img {
			margin-bottom: 30px;
		}
	</style>
</head>
<body>
	<img src="https://www.iconpacks.net/icons/2/free-sad-face-icon-2691-thumb.png" alt="404 Error" width="300">
	<h1>Oops!</h1>
	<p>The page you're looking for is missing, just like my sanity.</p>
	<p>Maybe it got lost in the Bermuda Triangle.</p>
	<p>Or maybe it's just not here.</p>
	<p>Either way, you're stuck with me. Sorry about that.</p>
	<p>But don't worry, I'm sure you'll find what you're looking for eventually.</p>
	<p>Until then, why not enjoy this picture of a cat?</p>
	<img src="https://images.unsplash.com/photo-1615497001839-b0a0eac3274c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y3V0ZSUyMGNhdHxlbnwwfHwwfHw%3D&w=1000&q=80" alt="CAT PIC">
</body>
</html>
