<!DOCTYPE html>
<html>
<head>
	<title>Hit The Plate - Profile</title>
	<link rel="stylesheet" type="text/css" href="/CSS/plateprofile.css">
</head>
<body>

	<div class="header">
		<h1><a href="/"></a>Hit The Plate</a></h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/plateprofile">My Profile</a></li>
				<li><a href="/login">Logout</a></li>
			</ul>
		</nav>
	</div>
</div>
</header>
<html>
<head>
<style>
  
  body {
    background-image: url("IMG/gymfloor.jpg");
  }
</style>
</head>
<body>

	<div class="container">
		<div class="profile">
			<img src="IMG/profile-picture.jpg" alt="Profile Picture">
			<h2>Your name</h2>
			<h3>Gym Stats</h3>
			<table>
				<tr>
					<th>Exercise</th>
					<th>1 Rep Max</th>
				</tr>
				<tr>
					<td>Squat</td>
					<td>Enter your max Squat!</td>
				</tr>
				<tr>
					<td>Bench</td>
					<td>Enter your max Bench!</td>
				</tr>
				<tr>
					<td>Deadlift</td>
					<td>Enter your max Deadlift!</td>
				</tr>
			</table>
		</div>
		<div class="posts">
			<h2>My Posts</h2>
			<!-- Posts will be displayed here -->
		</div>
	</div>
</body>
</html>
